<h2>Current Leads</h2>

<p class="lead">
This is the list of most recent client leads. Click the "Call client" button to start a phone call from your browser.
</p>

<div class="row">
  <div class="col-md-4 col-md-push-8">
    <div class="panel panel-primary client-controls">
      <div class="panel-heading">
        <h3 class="panel-title">Make a call</h3>
      </div>
      <div class="panel-body">
        <p><strong>Status</strong></p>
        <div class="well well-sm" id="call-status">
          Connecting to Twilio...
        </div>

        <!-- <button class="btn btn-lg btn-success answer-button" disabled>Answer call</button> -->
        <button class="btn btn-lg btn-danger hangup-button" disabled onclick="hangUp()">Hang up</button>
      </div>
    </div>
  </div>

  <div class="col-md-8 col-md-pull-4">
    <% @contacts.each do |contact| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Contact #<%= contact.id %>  <small class="pull-right"><%= contact.time_contacted %></small></h3>
      </div>

      <div class="panel-body">
        <div class="pull-right">
          <button onclick="callClient('<%= contact.data['From'] %>')" type="button" class="btn btn-primary btn-lg call-client-button">
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
            Call client
          </button>
        </div>
        <p><strong>Phone number: </strong><%= number_to_phone(contact[:data]['From']) %></p>
        <p><strong>Notes: </strong><%= truncate(contact.notes, length: 100) %></p>
        <% if contact.voicemail_link %>
          <p><%= link_to 'Voicemail Link', contact.voicemail_link %></p>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
