<h2><%= number_to_phone(@contact_info['From']) %>
  <button onclick="callClient('<%= @contact_info['From'] %>')" type="button" class="btn btn-primary btn-lg call-client-button">
    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
    Call client
  </button>
</h2>

<div class="row">
  <div class="col-md-4 col-md-push-8">
    <div class="panel panel-primary client-controls">
      <div class="panel-heading">
        <h3 class="panel-title">Answer a call</h3>
      </div>
      <div class="panel-body">
        <p><strong>Status</strong></p>
        <div class="well well-sm" id="call-status">
          Connecting to Twilio...
        </div>
        <button class="btn btn-lg btn-success answer-button" disabled>Answer call</button>
        <button class="btn btn-lg btn-danger hangup-button" disabled onclick="hangUp()">Hang up</button>
      </div>
    </div>
  </div>

  <div class="col-md-8 col-md-pull-4">
    <div class="well">
      <p>
        <strong>From: </strong><%= "#{@contact_info['FromCity']}, #{@contact_info['FromState']} #{@contact_info['FromCountry']}" %>
      </p>
      <% if @contact.voicemail_link %>
        <p>
          <%= link_to 'Voicemail Link', @contact.voicemail_link %>
        </p>
      <% end %>
    </div>
    <h3>Notes:</h3>
    <%= form_for @contact do |f| %>
      <div class="form-group">
        <%= f.text_area :notes, rows: 10, class: 'form-control call-notes-text' %>
      </div>
      <%= f.submit 'Update Contact Notes', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
